@media (max-width: 1300px){
    .text-header h1{
        font-size: 50px;
    }
    .text-header{
        h2{
            font-size: 18px;
        }
        h1{
            font-size: 35px;
        }
        p{
            color: #eee;
            font-size: 18px;
            line-height: 28px;
            width: 45%;
        }
        a{
            text-align: center;
            padding: 20px 20px;
            color: #000;
            line-height: 70px;
            font-size: 25px;
            border: 2px solid $firstColor;
            margin-left: 15px;
            background-color: $firstColor;
        &:hover{
            text-transform: none !important;
        }
        }
        }
}
@media (min-width: 371px) and (max-width: 1300px){
    .text-header h1{
        font-size: 50px;
    }
    header{
        nav{
        .navbar-brand{
            font-size: 20px;
        }
        .dropdown-toggle::after{
            display: none;
        }
        .dropdown-item {
            font-size: 17px;
        }
        }
        
    .btn-2{
        color: $firstColor !important;
        background: none !important;
    }
    }
    .About{
        img{
        position: relative;
        }
        i{
        position: absolute;
        top:40%;
        left: 40%;
        font-size: 50px;
        background: radial-gradient(black, transparent);
        border-radius: 50%;
        padding: 10px;
        cursor: pointer;
        margin: 1px -40px;
        color: rgba(255, 255, 255, 0.527);
        }
        h4{
        font-size: 18px;
        font-weight: 600;
        line-height: 35px;
        letter-spacing: 1px;
        }
        h2{
        font-size: 30px;
        line-height: 50px;
        font-weight: 600;
        span{
            color: $firstColor;
        }
        }
        p{color: #999; line-height: 40px;}
    }
}
// @media (min-width: 577px) and (max-width: 1300px) {



// }

@media (min-width: 992px) and (max-width: 1200px) {
    
}
// @media (min-width: 769px) and (max-width: 1300px) {


// }
// @media (min-width: 1181px) and (max-width: 1300px) {

// }

