* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing-: border-box;
  -moz-box-sizing-: border-box;
  -ms-box-sizing-: border-box;
  box-sizing: border-box;
  cursor: none; }

*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  scroll-behavior: smooth;
  overflow-x: hidden; }

a:hover {
  text-decoration: none;
  text-transform: none; }

body {
  background-image: linear-gradient(to bottom, #1e528e 0%, #728a7c 50%, #e9ce5d 100%);
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden; }

nav {
  background-color: indigo; }

.Gold {
  color: #fdf000 !important; }

#Games {
  position: relative;
  padding-top: 10px; }
  #Games .chickens {
    position: relative; }
    #Games .chickens img {
      width: 7%;
      position: absolute;
      transform: translateX(-50%); }
      #Games .chickens img:nth-of-type(1) {
        left: 25%; }
      #Games .chickens img:nth-of-type(2) {
        left: 50%; }
      #Games .chickens img:nth-of-type(3) {
        left: 75%; }
    #Games .chickens i {
      font-size: 25px;
      color: #fff;
      transform: translateX(-50%);
      position: absolute;
      top: 30px; }
      #Games .chickens i:nth-of-type(1) {
        left: 25%; }
      #Games .chickens i:nth-of-type(2) {
        left: 50%; }
      #Games .chickens i:nth-of-type(3) {
        left: 75%; }
    #Games .chickens .line {
      width: 100%;
      height: 10px;
      background-color: #333;
      position: absolute;
      top: 80px; }
  #Games img.bullseye {
    width: 7%;
    position: absolute;
    transform: translateX(-50%);
    top: 350px;
    z-index: 2;
    display: none; }
    #Games img.bullseye:nth-of-type(1) {
      left: 25%; }
    #Games img.bullseye:nth-of-type(2) {
      left: 50%; }
    #Games img.bullseye:nth-of-type(3) {
      left: 75%; }
  #Games #basket {
    width: 200px;
    height: 100px;
    position: absolute;
    bottom: 0; }
    #Games #basket .playScore {
      color: #fff;
      font-weight: bolder;
      font-size: 25px;
      position: absolute;
      top: 80%;
      left: 50%;
      transform: translate(-50%, -50%); }

#End_Game {
  background-color: #28a745;
  text-align: center;
  color: #fff;
  padding: 3px;
  width: 100%;
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  cursor: pointer;
  display: none;
  opacity: 0; }
  #End_Game h3, #End_Game h4 {
    font-weight: bolder;
    font-size: 50px; }

#Start_Games {
  width: 100%;
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  cursor: pointer; }
  #Start_Games h3, #Start_Games h4 {
    font-weight: bolder;
    font-size: 25px; }

footer {
  width: 100%;
  height: 200px;
  transform: scale(1.4);
  background-image: url("../images/Easter-Eggs.png");
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  bottom: 0px; }

.logo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 31;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center; }
  .logo img {
    width: 200px;
    animation-name: logo;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate; }

@keyframes logo {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(1.3); } }

/*# sourceMappingURL=style.css.map */
